.faq__main_container{
    padding:0 0 6% 0;
    width:85%;
    margin:auto;
    color:#3F4255;

}

.faq_title{
    font-size: var(--text-xlarge);
    font-weight: 700;
    text-align:center;
    color:#3F4255

}

.faq__inner_container{
    display:flex;
    gap:2rem;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    margin-top:-2rem;
}
.faq__card_container{
    /* border:1px solid purple; */
    width:min(40%,500px);
    max-height:122px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5%;
    font-size: var(--text-small);
    color:#54585F;
    margin-top: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(8, 15, 52, 0.12);
    border-radius: 12px;
    padding:2%;
    line-height: 24px;
}

.faq__card_container>img{
    width:46px;
    height:46px;
}
.faq__card_title{
    width:75%;
}
.pos_mobile{
    display:none;
}

/* mobile responsive */
@media (max-width: 920px) {
    .faq__inner_container{
        flex-direction: column;
        width:90%;
        gap:1.5rem;
        margin-top:0;
    }
    .pos_mobile{
        display:flex;
    }
    .pos_desktop{
        display:none;
    }
    .faq_title{
        font-size: var(--text-medium);
    }
    .faq__card_container{
        width:95%;
        font-size: var(--text-xsmall);
        line-height: 16px;
        min-height: 74px;
    }
    .faq__card_container>img{
        width:25px;
    }
}