.faq__main_container{
    padding:3% 0 6% 0;
    width:85%;
    margin:auto;
}
.faq_title{
    font-size: var(--text-xlarge);
    font-weight: 700;
    text-align:center;
    color:#3F4255

}

.faq__inner_container{
    display:flex;
    gap:2%;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.faq__card_container{
    /* border:1px solid purple; */
    width:max(40%,500px);
    /* height:122px; */
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5%;
    font-size: var(--text-small);
    color:#54585F;
    margin-top: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 20px rgba(8, 15, 52, 0.12);
    border-radius: 12px;
    padding:2%;
    line-height: 24px;
}

.faq__card_title{
    width:75%;
}

/* mobile responsive */
@media (max-width: 920px) {
    .faq__inner_container{
        display:block;
        width:90%;
    }
    .faq_title{
        font-size: var(--text-low-medium);
    }
    .faq__card_container{
        width:95%;
        font-size: var(--text-xsmall);
    }
}