.header__container {
  padding: 0 0 0 8rem;
  margin: auto;
  height:800px;
  background-color:#EBEBEB;
  border-top:16px solid var(--color-brand);
  align-items: center;
  justify-items: center;
}

.header__inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:87px;
}
.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul li {
  list-style: none;
  margin: 0 1rem;
  min-width: fit-content;
}
.header__nav ul li a {
  text-decoration: none;
  font-size: var(--text-small);
  font-weight: 600;
}
.header__menu_item {
  color: var(--color-text);
}

.header__hamburger_menu {
  cursor: pointer;
  display: none;
}
.header__hamburger_close {
  cursor: pointer;
}

#header__btn_id_desktop{
  height:80px;
  width:12rem;
  position:relative;
  top:-5px;
  left:1rem;
  right:0rem;
  background:var(--color-brand);
  border-radius: 0%;
  padding:0rem;
  overflow: hidden;
}
.header__mobile_btn{
  display: none;
}

@media (max-width:1054px) and (min-width:920px){
  #header__btn_id_desktop{
    /* left:0rem; */
    width:auto;
    padding:0 -1.8rem;
    display:flex;
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .header__mobile_btn{
    display: block;
  }
  #header__btn_id{
    top:-18px;
  }
    .header__container{
        padding: 1rem 1rem 5rem 1rem;
        height:520px;
    }

  .header__hamburger_menu {
    display: block;
  }
  .header__inner_container {
    flex-direction: column;
    align-items: flex-start;
    /* height: 100%; */
    height:auto;
  }
  .header__nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin: 2rem 0;
  }
  .header__nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem auto;
  }
  .header__nav ul li {
    margin: 0;
  }
  .header__nav ul button {
    display: none;
  }
  .header__logo_hamburger {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.header__hamburger_close {
  display: none;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
