.hero_main_container{
    background-color:#FFEFE1;
    width:100%;
    height:600px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.hero__container {
    width:577px;
    height:400px;
    margin: auto;
   aspect-ratio: 1.78/1;
   border-radius:12px;
} 
.hero_container_laptop{
    width:670px;
    height:350px;
}

.hero_image_desktop{
       width:100%;
       height:100%;
}


/* mobile view */
@media (max-width: 920px) {
    .hero_main_container{
        height:280px;
    }
    .hero__container{
        width:250px;
       
        height:min(160px,60%);
    }
}