@import url("./circle_container.css");

.ondc_main_container{
    font-family: var(--primary-font);
    width:100vw;
    margin:auto;
    font-style: normal;
    color:#3F4255;
    height:fit-content;
}

.operations_main_container{
    width:100vw;

    padding-bottom: 50px;
}
.operations_header_container{
    display:flex;
    height:400px;
    position:relative;
    width:90%;
    margin-left:8%;
    overflow: hidden;
}
.bg{
    /* width:30%; */
    height:400px;
    position:absolute;
    right:-5%;
    top:-1rem;
}
.bg>img{
    width:100%;
    height:100%;
}
.data{
    width:100%;
    /* border:1px solid blue; */
    height:70%;

    position:absolute;
    z-index:1;

}
.operations_main_title{
    font-size: 80px;
    font-weight: 700;
    color:#3F4255;
    width:80%;
    padding-top:0.1rem;
    line-height:100%;
}
.operations_main_description{
    width:80%;
    font-weight:600;
    font-size: 28px;
    color: #7B7D8A;
    margin-top:-3rem;
    line-height:120%;
}

/* mobile view */
@media (max-width:920px){
    .operations_header_container{
        height:170px;
        max-height:max-content;
        width:97%;
        margin-left:2%;
        margin-top:0;
        padding-top:2.5rem;
        margin-bottom: 5%;
       position:relative;

    }
 
    .bg{
        width:200px;
        height:250px;
        /* width:55%; */
        /* right:-10%; */
        top:-0.2rem;
    }
    .data{
        width:100%;
        height:70%;
        position:absolute;
        z-index:1;
        top:0%;
    
    }
    .operations_main_title{
        font-size:42px;
        text-align: center;
        margin:auto;
        padding-top:1rem;
        
    }
    .operations_main_description{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin:auto;
        width:80%;
    }

}

.benefits_header_container{
    width:85%;
    margin:auto;
    /* display:flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
    position:relatve;
}
.benefits_title,.works_title{
     font-size:var(--text-xlarge);  
     font-family: var(--primary-font);
font-style: normal;
font-weight: 700;
/* color:var(--color-text); */
text-align: center; 
margin:auto;
}
.orange_solid_line{
  position:absolute;
  right:30%;
  height:120px;
  width:120px;
}

.ondc_data_container,.works_inner_container{
    width:85%;
    display:flex;
    gap:5%;
    height:fit-content;
    max-height: max-content;
    margin:auto;
    margin-top: 1rem;
    font-family: var(--primary-font);
}
.ondc_data_left{
    width:40%;
}
.ondc_data_left>img{
    width:100%;
    height:100%;
}
.ondc_data_right{
    width:55%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.ondc_data_right_inner_container{
    display: flex;
    width:98%;
    height:fit-content;
    flex-direction: row;
    align-items:center;
    gap:28px;
    padding-left:1.2rem;

}
.icon_container{
    width:58px;
    height:58px;
}
.container2{
    background: url("../public/benifitsImg2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.inner_container2:hover>.container2{
    background: url("../public/More\ Options.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container0{
    background: url("../public/ONDc\ Benefits.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.inner_container0:hover>.container0{
    background: url("../public/benifitsImg0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container1{
    background: url("../public/benifitsImg1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.inner_container1:hover>.container1{
    background: url("../public/LowerCost.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container3{
    background: url("../public/benifitsImg3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.inner_container3:hover>.container3{
    background: url("../public/Easily.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container4{
    background: url("../public/benifitsImg4.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.inner_container4:hover>.container4{
    background: url("../public/Buyers.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.ondc_data_right_description{
    font-size: var(--text-low-medium);
    font-weight: 600;
    line-height: 33px;
    width:75%;
    min-height:68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    color:#3F4255;
    word-wrap:break-word;
    box-sizing: border-box;

}
.ondc_data_right_inner_container:hover{
    border: 1px solid #DFDFDF;
    box-shadow: 6px 26px 49px -2px rgba(125, 125, 125, 0.25);
    border-radius: 12px;
}


/* button container */
.benefits_below_btn_container{
font-family: var(--primary-font);
font-style: normal;
color:var(--secondary-color);
background:#3F4255;
height:max-content;
border-radius: 12px;
width:85%;
 display:flex;
 flex-direction: column;
 align-content: center;
 justify-content: space-evenly;
 margin:10rem auto 8rem auto;
 padding:2rem;
}


.btn_data{
    font-size: var(--text-large);
    font-weight: 700;
    width:auto;
    margin:auto;
    text-align: center;
    line-height:120%;
}
.ondc_btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px 20px;
gap: 10.45px;
width: 180px;
height: 48px;
font-size: 16px;
margin:auto;
margin-top:0.5rem;
/* padding-left: 15%; */
}

/* how it works */
.works_inner_container{
    margin-top:0;
}
.works_data_left{
    width:45%;
    margin-top:2rem;
}
.works_data_left>img{
    width:100%;
    height:530px;
}
.works_title{
    margin-bottom:2rem;
}
.ondc_ul{
    /* margin-left:-45px; */
    list-style-type: square;
    list-style-position: inside;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:32px;
    max-width:620px;
    min-width:50%;
    height:500px;
    align-items: flex-start;
} 

.ondc_ul li{
    border-bottom: 1px solid rgba(	63, 66, 85, .3);
    width:95%;
    height:29px;
    font-weight:600;
    font-size:var(--text-low-medium);
    font-family: "Inter";
    padding-bottom: 32px;
    padding-left:5px;
    line-height:140%;
}

/* button container 2 */
.btn_container_wrapper{
    border:1px solid transparent;
    position:relative;
}
.button_container_bg_wrapper{
    position:absolute;
   /* border:1px solid red; */
   height:200px;
   width:280px;
   margin:auto;
   background: url("../public/circleLeftBg.svg");
   background-position:right;
   background-repeat: no-repeat;
   margin-top:-2rem;
   /* transform: matrix(-1, -0.09, -0.09, 1, 0, 0); */

}
.wrapper_2{
    background: url("../public/circleRightBg.svg");
    background-position:left;
    width:280px;
    height:280px;
    position:absolute;
    right:2rem;
    bottom:5rem;
    top:1rem;
    /* transform: matrix(0.56, 0.83, 0.83, -0.56, 0, 0); */
}
.btn_container2{
    flex-direction: row;
    position:relative;
    margin-top:5rem;
}


/* faq and features bg wrapper */
.features_and_faq{
    background: url("../public/orangeLineBg.svg");
    background-position: center;
    background-repeat: no-repeat;
}





/* mobile view */
@media (max-width:920px){
    .ondc_main_title{
        font-size:var(--text-xxxlarge);
    }
    .benefits_title,.works_title{
        font-size:var(--text-medium)
    }
    .orange_solid_line{
        display:none;
    }

    .ondc_header_container,.benefits_header_container{
        width:90%;
        height:fit-content;
        flex-direction:column ;
        align-items: center;
        margin:auto;
    }    
    .ondc_img_line{
        width:50%;
        align-self: center;
        margin-left:20%;
        margin-bottom:-5%;
        height:300px;
    }
    .ondc_img_line>img{
        width:100%;
        height:100%;
    }

 
    .ondc_main_description{
        font-size: var(--text-low-medium);
    }


    .ondc_data_container{
        flex-direction: column;
        gap:2rem;
        margin:auto;
        height:max-content;
        align-items: center;
        width:100%;
    }
    .ondc_data_left{
        height:204px;
        width:330px;
        padding-top: 2rem;
        margin: auto;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .ondc_data_left>img{
        height:204px;
        width:330px;
    }
    .ondc_data_right{
        width:90%;
        align-items: center;
        margin:auto;
    }
    .icon_container{
        width:30px;
        height:30px
    }
    .ondc_data_right_inner_container{
        height:60px;
    }
    .ondc_data_right_description{
        font-size: 14px;
        text-align: left;
        padding-left: 1rem;
        line-height: 100%;
    }

    .btn_data{
       font-size: var(--text-medium);
    }

    .benefits_below_btn_container{
        width:85%;
        height:144px;
        max-height: max-content;
        margin:auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top:4rem;
        margin-bottom: 1rem;
    }
   .btn_container2{
    flex-direction: column;
    max-height:144px;
    min-height:fit-content;
   }

   .works_data_left{
    width:287px;
    height:188px;
    margin:auto;
   }
   .works_data_left>img{
    width:100%;
    height:100%;
   }
   .ondc_ul{
    width:90%;
   }
   .ondc_ul li{
    font-size:14px;
    margin:auto;
    width:90%;
   }
   .button_container_bg_wrapper,.wrapper_2{
    display:none;
   }
   .btn_container_wrapper{
    margin-top:-2rem;
   }
.features_and_faq{
    background: none;
}

}