@import url("./circle_container.css");

.ondc_main_container{
    font-family: var(--primary-font);
    width:85%;
    margin:auto;
    font-style: normal;
    color:#3F4255;

    height:max-content;
    padding-bottom: 500px;
    border:1px solid red;

}

.ondc_header_container{
    position:relative;
}
.ondc_main_title{
    font-size: 80px;
    font-weight: 700;

    /* color:var(--color-text)  */
}
.ondc_main_description{
    font-weight:600;
    font-size: var(--text-medium);
    color: #7B7D8A;
}

.ondc_img_line{
position: absolute;
left: 69.89%;
right: -4.97%;
top:-30%;
bottom: -49.%;
}
.benefits_title,.works_title{
     font-size:var(--text-xlarge);  
     font-family: var(--primary-font);
font-style: normal;
font-weight: 700;
/* color:var(--color-text); */
text-align: center; 
margin:7rem;
}
.orange_solid_line{
  position:absolute;
  top:30rem;
  right:20rem;
  left:50rem;
}
.ondc_data_container,.works_inner_container{
    display:flex;
    gap:5%;
    height:750px;
    max-height: max-content;
    margin-top: 10rem;
    font-family: var(--primary-font);
}
.ondc_data_right{
    width:55%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.ondc_data_right_inner_container{
    display: flex;
    width:550px;
    height:100px;
    flex-direction: row;
    align-items:center;
    gap:28px;
    padding-left:0.75rem;

}

.ondc_data_right_description{
    font-size: var(--text-low-medium);
    font-weight: 600;
    line-height: 33px;
    width:75%;
    min-height:68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    color:#3F4255;
}
.ondc_data_right_inner_container:hover{
    border: 1px solid #DFDFDF;
    box-shadow: 6px 26px 49px -2px rgba(125, 125, 125, 0.25);
    border-radius: 12px;
}

/* button container */
.benefits_below_btn_container{
font-family: var(--primary-font);
font-style: normal;
color:var(--secondary-color);
background:#3F4255;
height: 240px;
border-radius: 12px;

 display:flex;
 flex-direction: column;
 align-content: center;
 justify-content: center;
 margin:5rem auto;
}

.btn_data{
    font-size: var(--text-large);
    font-weight: 700;
    line-height:43px;
    width:964px;
    margin:auto;
}
.header__mobile_btn{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 20px;
gap: 10.45px;
width: 180px;
height: 48px;
font-size: 16px;
margin:auto;
}

/* how it works */
.works_inner_container{
    margin-top:0;
}
.works_title{
    margin-bottom:2rem;
}
.ondc_ul{
    /* margin-left:-45px; */
    list-style-type: square;
    list-style-position: outside;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:32px;
    width:620px;
    height:500px;
    align-items: flex-start;
} 

.ondc_ul li{
    border-bottom:1px solid #3F4255;
    width:90%;
    height:29px;
    font-weight:600;
    font-size:var(--text-low-medium);
    padding-bottom: 32px;
    padding-left: 0;
}

.btn_container2{
    flex-direction: row;
}
/* mobile view */
@media (max-width:920px){
    .ondc_main_title{
        font-size:var(--text-xxxlarge);
    }
    .benefits_title{
        font-size:var(--text-medium)
    }
    .orange_solid_line{
        top:38rem;
        bottom:50rem;
        left:20rem;
        right:50rem
    }
    .ondc_header_container{
        height:420px;
    }    
    .ondc_img_line{
        left: 18.89%;
        right: -4.97%;
        top:30%;
        bottom: -49.%;
    }
    .ondc_main_description{
        font-size: var(--text-low-medium);
    }


    .ondc_data_container{
        flex-direction: column;
        gap:2rem;
        margin:auto;
        height:max-content;
        align-items: center;
        width:100%;
        padding-top: 3.5rem;
    }
    .ondc_data_right{
        width:100%;
        align-items: center;
    }
    .ondc_data_right_description{
        font-size: var(--text-small);
    }

}